<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogFile="${var:working_dir}${dir-separator}.nlog${dir-separator}${date:format=yyyy-MM-dd}.log"
      internalLogIncludeTimestamp="true"
      internalLogLevel="Warn"
      internalLogToConsole="false"
      internalLogToConsoleError="false"
      internalLogToTrace="false"
      keepVariablesOnReload="false"
      throwConfigExceptions="true"
      throwExceptions="false"
      useInvariantCulture="true">
    <variable name="working_dir" value="${basedir}${dir-separator}logs${dir-separator}" />
</nlog>